body{
    background-color: black;
    color: white;
}

#body{
    text-align: center;
    align-content: center;
}

.d-block{
    max-height: 12em
}

.navbar{
    color: white
}

.bioImg{
    height: 50%;
    width: 50%
}

.carousel-item{
    margin-left: 40%;
    height: 15em;
    
}